
@media (max-width: 1399.98px) { 
    .about__container {
        grid-template-columns: 1.2fr 1fr;
    }
 }
 @media (max-width: 1199.98px) { 
    .home__main__t {
        font-size: 60px;
        font-weight: 700;
    }
    .about__container {
        grid-template-columns: 1fr;
    }
    .about__right {
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr 1fr;
    }
    .projects__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }
    .project__card {
        border-radius: 20px;
        transition: .3s;
        height: auto;
        border: 1px solid #EAEAEA;
    }
    .ieufewfg {
        font-size: 25px;
        line-height: 36px;
    }
    .chai__img {
       
        width: 120px;
       
    }
    .ftblll {
       
        width: 120px;
        
    }
    .stggg {
        
        width: 130px;
        
    }
    .podooo {
        
        width: 110px;
        
    }
    .bikkkkj {
       
        width: 180px;
       
    }
    .yyhsf{
      
      
        height: 100%;
      }
    
 }
@media (max-width: 991.98px) { 
    .hobby__container {
        
        grid-template-columns: 1fr;
    }
    .ftbl_styl__container{
        grid-template-columns: 1fr 1fr;
    }
    .pdct__bike__container{
        grid-template-columns: 1fr 1fr;
    }
    .ieufewfg{
        padding: 2rem;
    }
    .home__main__t {
        font-size: 50px;
        font-weight: 700;
    }
    .about__right {
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr;
    }
    .gghgfdryh{
        font-size: 40px;
        width: 80%;
    }
    .hree {
        width: 90%;
        
    }
    .website__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    
}
 @media (max-width: 767.98px) { 
    .home__img {
        width: 100%;
        justify-self: center;
    } 
    .fehg {
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 18px;
        color: #000;
        font-weight: 600;
    }
    .projects__container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
    .section__title, .section__title-center{
        font-size: 35px;
        text-align: center;
    }
    .website__container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 4rem;
    }
    .jjuhahh {
        border-radius: 12px;
        height: 200px;
    }
    .yysfdhhg{
        margin-top: 30px;
        text-align: left;
        text-decoration: underline;
        text-decoration-color: #F49F72;
        font-size: 30px;
      }
      .breadcrumbb{
        height: 200px;
       
      
      }
      .bread__container{
        margin-top: 30px;
       }
       .breadcrumbb {
        background-position-x: center;
        height: 350px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(../img/casebg2.svg);
    }
    .ikikjj{
        color: #00AF04;
        font-size: 30px !important;
      }
    .dsuyfghj {
        font-size: 35px;
       
    }
   
    .hshasha{
        font-size: 12px;
    }
    .yyhharts {
        font-size: 18px;
    }
    .categ {
        
        grid-column-gap: 1rem;
        
    }
    .case__container {
        
        gap: 1rem;
    }
    .goal__container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .mmkann {
        list-style: circle;
        line-height: 1.5em;
        font-size: 14px
    }
 }

 @media (max-width: 575.98px) { 
    .home__main__t {
        font-size: 40px;
        font-weight: 700;
    }
    .website__container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .hgsgsgs {
        margin-left: 5px;
    }
    .yjajhsh {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    .iijshh {
        color: rgb(45, 45, 45);
        font-weight: 400;
        font-size: 12px;
        border-radius: 30px;
        padding: 6px 10px;
        background-color: #F8F7F2;
    }
    .fehg {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 16px;
        color: #000;
        font-weight: 600;
    }
    .szza {
        font-size: 20px;
        color: rgb(0, 70, 189);
    }
    
    .casebreadcrumb {
        height: 320px;
        
    }
    .gridn {
        display: grid;
        gap: 1rem;
    }
    .hhyhhia {
        color: rgb(0, 0, 0);
        font-size: 14px !important;
        font-weight: 300;
        line-height: 1.5em;
    }
    .case__container {
        display: grid;
        align-items: center;
        margin-top: 50px;
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .hree {
        
        margin-top: 30px;
    }
    .categ {
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
        grid-column-gap: 1rem;
        
    }
    .yhsaoo {
        height: 400px;
    }
    .ffjsjjs {
        
        margin-bottom: 40px;
    }
    .dsuyfghj {
        font-size: 24px;
    }
    .yyhharts {
        font-size: 16px;
    }
    .yysfdhhg{
        margin-top: 25px;
        
      }
      .ikikjj{
        color: #00AF04;
        font-size: 25px !important;
      }
      .hxgggs{
        font-size: 14px;
        padding: 8px 14px; 
      }
    .bread__container{
        margin-top: 0px;
       }
    .breadcrumbb{
        height: 150px;
       
      
      }
    .home__title {
        font-size: 35px;
        line-height: normal;
    }
    .button {
        display: inline-block;
        background-color: #000;
        color: #FFF;
        padding: 0.8rem 1.3rem;
        border-radius: 10px;
        font-weight: var(--font-medium);
        transition: .3s;
    }
    .home__img {
        width: 100%;
        justify-self: center;
    } 
    .projects__container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
    .home__description {
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .section__title, .section__title-center {
        font-size: 30px;
        text-align: center;
       
    }
    .about__para {
        
        font-size: 14px;
        
       
        line-height: 25px;
    }
    .sdff{
        font-size: 14px;
        line-height: 20px;
    }
    .dsiug{
        font-size: 25px;
        margin-bottom: 20px;
    }
    .giajsa{
        font-size: 12px;
    }
    .rfygg{
        font-size: 14px;
    }
    .raff{
        
        font-size: 12px;
    }
    .view__more__proj {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .about__title{
       text-align: left !important;
      }
      .test__desc {
        font-size: 14px;
        
        margin-top: 5px;
        line-height: 20px;
    }
    .gghgfdryh{
        font-size: 30px;
        width: 100%;
        margin-bottom: 10px;
    }
    .sooper__power {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    .ftbl_styl__container{
        grid-template-columns: 1fr;
    }
    .pdct__bike__container{
        grid-template-columns: 1fr;
    }
    .ftbl__love {
        border-radius: 36px;
        background: #D1C5FD;
        height: 280px;
    }
    .style__love{
        height: 280px;
    }
    .pod__love{
        height: 280px;
    }
    .bike__love{
        height: 280px;
    }
    .proto__card {
        border-radius: 20px;
        transition: .3s;
        width: 100%;
    }
 }
