/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem; /*56px*/

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --hue: 152;
  --first-color:#FF7144;
  --first-color-alt: #FF5555;
  --first-color-light: hsl(var(--hue), 24%, 66%);
  --first-color-lighten: hsl(var(--hue), 24%, 92%);
  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --text-color-light: hsl(var(--hue), 4%, 55%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --container-color: #FFF;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Outfit', sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

body,
button,
input,
textarea{
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body{
  margin: var(--header-height) 0 0 0;
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .4s; /*For animation dark mode*/
}

button{
  cursor: pointer;
  border: none;
  outline: none;
}

h1,h2,h3{
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
body.dark-theme{
  --first-color-dark: hsl(var(--hue), 8%, 20%);
  --title-color: hsl(var(--hue), 4%, 95%);
  --text-color: hsl(var(--hue), 4%, 75%);
  --body-color: hsl(var(--hue), 8%, 12%);
  --container-color: hsl(var(--hue), 8%, 16%);
}

/*========== Button Dark/Light ==========*/


.nav__btns{
  display: inline-flex;
  align-items: center;
  column-gap: 1rem;
}

/*========== 
Color changes in some parts of 
the website, in dark theme 
==========*/

.dark-theme .steps__bg,
.dark-theme .questions{
  background-color: var(--first-color-dark);
}

.dark-theme .product__circle,
.dark-theme .footer__subscribe{
  background-color: var(--container-color);
}

.dark-theme .scroll-header{
  box-shadow: 0 1px 4px hsla(var(--hue), 4%, 4%, .3);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section{
  padding: 5rem 0 5rem;
}
.sectionc{
  padding: 2rem 0 2rem;
}
.sectionf{
  padding: 5.5rem 0 1rem;
}
.section__title,
.section__title-center{
  font-size: 40px;
  margin-bottom: var(--mb-2);
  line-height: 140%;
}

.section__title-center{
  text-align: center;
}

.container{
  max-width: 1250px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}
.containerc{
  max-width: 1000px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}
.grid{
  display: grid;
}

.main{
  overflow: hidden; /*For animation*/
}

/*=============== HEADER ===============*/
.header{
  width: 100%;
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: .4s; /*For animation dark mode*/
}

/*=============== NAV ===============*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle,
.nav__close{
  color: var(--title-color);
}

.nav__logo{
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -1px;
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  transition: .3s;
}

.nav__logo-icon{
  font-size: 1.15rem;
  color: var(--first-color);
}

.nav__logo:hover{
  color: var(--first-color);
}

.nav__toggle{
  display: inline-flex;
  font-size: 1.25rem;
  cursor: pointer;
}
.logohe{
  width: 150px;
}
@media screen and (max-width: 767px){
  .nav__menu{
    position: fixed;
    background-color: var(--container-color);
    width: 80%;
    height: 100%;
    top: 0;
    right: -100%;
    box-shadow: -2px 0 4px hsla(var(--hue), 24%, 15%, .1);
    padding: 4rem 0 0 3rem;
    border-radius: 1rem 0 0 1rem;
    transition: .3s;
    z-index: var(--z-fixed);
  }
}

.nav__close{
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1.25rem;
  cursor: pointer;
}

.nav__list{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.nav__link{
  color: var(--title-color);
  font-weight: 400;
  transition: .3s;
  font-size: 20px;
}

.nav__link:hover{
  color: var(--first-color);
}

/* Show menu */
.show-menu{
  right: 0;
}

/* Change background header */
.scroll-header{
  box-shadow: 0 1px 4px hsla(var(--hue), 4%, 15%, .1);
}

/* Active link */
.active-link{
  position: relative;
  color: #000;
  font-weight:500;
}

.active-link::after{
  content: '';
  position: absolute;
  bottom: 14%;
  right: -11px;
  width: 7px;
  border-radius: 50%;
  height: 7px;
  background-color: var(--first-color);
}

/*=============== HOME ===============*/
.home{
  padding: 3.5rem 0 2rem;
}
.home__scl{
  display: flex;
  align-items: center;
  margin-top: 30px;
  gap: 1rem;
}
.home__social__link{
  color: #000;
  background-color: #fff;
  padding: 9px 10px 6px 10px;
  border-radius: 100%;
}
.home__container{
  position: relative;
  row-gap: 2rem;
}

.home__img{
  width: 200px;
  justify-self: center;
}
.home__main__t{
  font-size: 70px;
  font-weight: 700;
}
.home__title{
  font-size: 45px;
  line-height: normal;

}
.home__btns{
  display: flex;
  gap: 1rem;
}
.home__description{
  margin-bottom: var(--mb-2-5);
}

.home__social{
  position: absolute;
  top: 2rem;
  right: -1rem;
  display: grid;
  justify-items: center;
  row-gap: 3.5rem;
}

.home__social-follow{
  font-weight: var(--font-medium);
  font-size: var(--smaller-font-size);
  color: var(--first-color);
  position: relative;
  transform: rotate(90deg);
}

.home__social-follow::after{
  content: '';
  position: absolute;
  width: 1rem;
  height: 2px;
  background-color: var(--first-color);
  right: -45%;
  top: 50%;
}

.home__social-links{
  display: inline-flex;
  flex-direction: column;
  row-gap: .25rem;
}

.home__social-link{
  font-size: 1rem;
  color: var(--first-color);
  transition: .3s;
}

.home__social-link:hover{
  transform: translateX(.25rem);
}
.bread__container{
 margin-top: 50px;
}

.breadcrumbb{
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../img/casebg2.svg');

}
.casebreadcrumb{
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../img/casebg2.svg');

}
.kmmshg{
  margin-top: 100px !important;
}
.dsuyfghj{
  font-size: 40px;
  font-weight: 600 !important;
  margin-bottom: 20px;
  line-height: 130%;
}
.iiujuk{
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 500;
}
.ffjsjjs{
  /* max-height: 600px; */
  border-radius: 30px;
  width: 100%;
  margin-bottom: 60px;
}
.jjuhahh{
  border-radius: 12px;
  height: 250px;
}
.gaugsf{
  color: #000;
}
.case__container{
  display: grid;
  align-items: center;
  margin-top: 50px;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.yhsaoo{

  height: 600px;
}
.yysfdhhg{
  margin-top: 30px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #F49F72;
  font-size: 40px;
}
.hhyhhia{
  color: rgb(0, 0, 0);
  
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.7em;

}
.hree{
  
  margin: auto;
  color: #656565;
  margin-top: 50px;
}
.hsggst{
  font-weight: 400;
}
.categ {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 0px;
}
.hshasha{
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 5px;
}
.yyhharts{
  font-size: 22px;
}
.tgfdd{
  margin-top: 10px;
  margin-bottom: 20px;
}
.mmkann{
  list-style: circle;
  line-height: 1.7em;
  color: #000;
  font-size: 1.125rem;
  font-weight: 300;
}
.njnjj{
  width: 100%;
}
.haggaf{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.ikikjj{
  color: #00AF04;
  font-size: 35px !important;
}
.goal__container{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3rem;
  align-items: center;
}
.gridn{
  display: grid;
  gap: 1rem;
}
.dufagfg{
  margin-bottom: 40px;
}
.jdhdh{
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  color: #000;
}
.proto__container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.proto__card{
  border-radius: 50px;
  transition: .3s;
  width: 100%;
}
.proto__card:hover{
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
.pr__main{
  position: relative;
}
.hxgggs{
  top: 10%; 
 
  position: absolute; 
  background-color: #000;
  font-weight: 400; 
  padding: 12px 16px; 
  color: #ffffff; 
  border-radius: 0px 20px 20px 0px ;
}
.hmhm{
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
.jsjjj{
  color: rgb(36, 36, 36);
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.landing__card{
 /* height: 500px; */
}
.bvcgg{
  border-radius: 25px;
  padding: 10px;
  height: 350px;
  width: 500px;
  background-color: #ffffff;
  transition: .3s;
  border: 1px solid #EAEAEA;
}
/*=============== BUTTONS ===============*/
.button{
  display: inline-block;
  background-color: #000;
  color: #FFF;
  padding: 1rem 1.75rem;
  border-radius: 10px;
  font-weight: var(--font-medium);
  transition: .3s;
}
.dwnld{
  background-color: #fff !important;
  color: #000 !important;
  border: 2px solid #000 !important;
  border-radius: 10px;
}
.button:hover{
  background-color: var(--first-color-alt);
}
.dwnld:hover{
  background-color: #F8F7F2 !important;
}
.button__icon{
  transition: .3s;
}
.button__icon-new{
  transition: .3s;
}
.button:hover .button__icon{
  transform: translateX(.25rem);
}
.button:hover .button__icon-new{
  transform: translateY(.20rem);
}

.button--flex{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
}

.button--link{
  color: var(--first-color);
  font-weight: var(--font-medium);
}

.button--link:hover .button__icon{
  transform: translateX(.25rem);
}
/*=============== SWIPER JS ===============*/
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: -1%;
  top: var(--swiper-pagination-top,auto);
  left: 0;
  width: 100%;
}
.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: #ff7c70;
}


.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #ffffff00;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item__grid{
  display: grid;

}
.gsjeg{
  text-align: left !important;
  justify-content: left !important;
}
/*=============== ABOUT ===============*/
.about__container{
  row-gap: 2rem;
}
.aboutme{
  border-radius: 36px;
  background: #F8F7F2;
  padding: 2rem;
}
.about__right{
  display: grid;
  gap: 2rem;
}
.about__right__one{
  border-radius: 36px;
  background: #D1C5FD;;
  padding: 2rem;
}
.about__right__two{
  border-radius: 36px;
  background: #F2C8C4;
  padding: 2rem;
}
.about{
  background-color: #000;
}
.bbga{
  color: #fff !important;
}
.abttsf{
  display: grid;
}
.sooper__power{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}
.gguh{
  color: #000;
  font-size: 14px;
  margin-top: 5px;

}
.tgtsg{
background-color: #fff;
border-radius: 15px;
padding: 10px;
}
.dsiug{
  font-size: 30px;
font-style: normal;
font-weight: 500;
margin-bottom: 25px;
line-height: normal;
}
.greswe{
  margin-bottom: 10px !important;
}
.giajsa{
  font-size: 14px;
  background-color: #fff;
  border-radius: 50px;
  padding: 9px 12px;
  color: #000;
  font-weight: 500;
  width: fit-content;
}
.sdff{
  font-size: 16px;
font-style: normal;
font-weight: 400;
margin-bottom: 40px;

line-height: 28px;
}
.about__para{
  color: #000;
  font-family: Outfit;
  font-size: 20px;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
}
.about__img{
  width: 280px;
  justify-self: center;
}

.about__title{
  margin-bottom: 30px;
}

.about__description{
  margin-bottom: var(--mb-2);
}

.about__details{
  display: grid;
  row-gap: 1rem;
  margin-bottom: var(--mb-2-5);
}

.about__details-description{
  display: inline-flex;
  column-gap: .5rem;
  font-size: var(--small-font-size);
}

.about__details-icon{
  font-size: 1rem;
  color: var(--first-color);
  margin-top: .15rem;
}
/*=============== WEBSITES ===============*/
.website__container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}
.website__cards{
  background-color: #ffffff;
  border-radius: 30px;
  display: grid;
  padding: 1rem;
  border: 1px solid #EAEAEA;
}
.wbste__inner{
  display: grid;
  gap: 1rem;
}
.yyhsf{
  border-radius: 20px;

  /* height: 100%; */
}
.fehg{
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 24px;
  color: #000;
  font-weight: 600;
}
.yfegdfu{
  margin-top: 20px;
}
.webb__cont{
  display: flex;
  gap: 10px;
  margin-top: 30px;
  flex-wrap: wrap;
}
.iijshh{
  color: rgb(45, 45, 45);
  font-weight: 400;
  font-size: 14px;
  border-radius: 30px;

  padding: 6px 10px;
  background-color: #F8F7F2;
}
.hgsgsgs{
  margin-left: 20px;
}
.website__cards:hover{
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
.yjajhsh{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.szza{
  font-size: 24px;
  color: rgb(0, 70, 189);
}
/*=============== CASESTUDY ===============*/
.projects__container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}
.project__card{
  border-radius: 20px;
  transition: .3s;
  height: 500px;
  border: 1px solid #EAEAEA;
}
.project__card:hover{
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
.pr__inner{
  padding: 1.5rem 1.5rem 2rem 1.5rem;
}
.tgjuu{
  font-size: 25px;
  color: #000;
  font-weight: 500;
  margin-top: 10px;
}
.wses{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.ikok{
  margin-left: 20px;
}
.rfygg{
  font-size: 16px;
  font-weight: 300;
  line-height: 135%;
  color: #000;
  margin-top: 8px;
}
.raff{
  margin-top: 20px;
  color: #000000;
  
  background-color: #F8F7F2;
  width: fit-content;
  padding:7px 12px;
  border-radius: 30px;
  font-weight: 300;
}
.view__more__proj{
  text-align: center;
  margin-top: 40px;
}

/*=============== HOBBY ===============*/
.dusuu{
  text-align: left !important;
  color: #fff;
}
.dhgjvvj{
  margin-bottom: 10px !important;
}
.hobby__container{
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 2fr;

}
.chai__love{
  border-radius: 36px;
  background: #32CCFE;
}
.ieufewfg{
  color: #000;
  font-family: Outfit;
  font-size: 33px;
  padding: 2rem 2rem 0rem 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;

}
.chai__img{
  position: absolute;
  width: 150px;
  bottom: 5%;
  right: 5%;
}
.ftblll{
  position: absolute;
  width: 150px;
  bottom: 5%;
  right: 10%;
}
.stggg{
  position: absolute;
  width: 160px;
  bottom: 10%;
  right: 5%;
}
.bikkkkj{
  position: absolute;
  width: 220px;
  bottom: 0%;
  transform: translate(-50%,-50%);
  right: 50%;
  left: 50%;
  top: 70%;
}
.podooo{
  position: absolute;
  width: 130px;
  bottom: 10%;
  right: 5%;
}
.prntt{
  position: relative; 
  height: 100%;
}
.ftbl_styl__container{
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  gap: 2rem;
}
.pdct__bike__container{
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  gap: 2rem;
}
.ftbl__love{
  border-radius: 36px;
  background: #D1C5FD;
  height: 300px;
}
.style__love{
  height: 300px;
  border-radius: 36px;
  background: #F6CFCF;
}
.pod__love{
  border-radius: 36px;
  height: 300px;
  background: #F49F72;
}
.bike__love{
  border-radius: 36px;
  height: 300px;
  background: #F8F7F2;
}
.right__hobby__container{
  display: grid;
  gap: 2rem;
}
/*=============== CONTACT ===============*/
.lets__connect{
  background-color: #F8F7F2;
  border-radius: 0px 0px 50px 50px;

}
.lets__connect__container{
  display: grid;
  text-align: center;
}
.gghgfdryh{
  color: #656565;
text-align: center;
width: 60%;
margin: auto;
font-family: Outfit;
font-size: 50px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.jkahhg{
  color: #000;
  font-weight: 600;
}
/*=============== FOOTER ===============*/
.footer__container{
  row-gap: 3rem;
}

.footer__linke{
  color: #000;
  font-size: 20px;
font-style: normal;
transition: .3s;
font-weight: 500;
line-height: normal;
}
.footer__linke:hover{
  color: var(--first-color-alt);
}
.footer__logo-icon{
  font-size: 1.15rem;
  color: var(--first-color);
}

.footer__logo:hover{
  color: var(--first-color);
}





.footer__data{
  display: grid;
  row-gap: .75rem;
}

.footer__information{
  font-size: var(--small-font-size);
}

.footer__social{
  display: inline-flex;
  column-gap: .75rem;
}

.footer__social-link{
  font-size: 1rem;
  color: var(--text-color);
  transition: .3s;
}

.footer__social-link:hover{
  transform: translateY(-.25rem);
}

.footer__cards{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
}
.footer__card{
  width: 35px;
}

.footer__copy{
  text-align: center;
  font-size: 16px;
  color: var(--text-color-light);
  margin: 5rem 0 1rem;
}

/*=============== SCROLL UP ===============*/
.scrollup{
  position: fixed;
  background-color: var(--first-color);
  right: 1rem;
  bottom: -30%;
  display: inline-flex;
  padding: .5rem;
  border-radius: .25rem;
  z-index: var(--z-tooltip);
  opacity: .8;
  transition: .4s;
}

.scrollup__icon{
  font-size: 1rem;
  color: #FFF;
}

.scrollup:hover{
  background-color: var(--first-color-alt);
  opacity: 1;
}

/* Show Scroll Up*/
.show-scroll{
  bottom: 3rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: .6rem;
  background: #F8F7F2;
}

::-webkit-scrollbar-thumb{
  background: rgb(234, 217, 184);
  border-radius: .5rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px){
  .container{
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
  .containerc{
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
  .home__img{
    width: 180px;
  }
  .home__title{
    font-size: var(--h1-font-size);
  }

  .steps__bg{
    padding: 2rem 1rem;
  }
  .steps__card{
    padding: 1.5rem;
  }

  .product__container{
    grid-template-columns: .6fr;
    justify-content: center;
  }
}

/* For medium devices */
@media screen and (min-width: 576px){
  .steps__container{
    grid-template-columns: repeat(2, 1fr);
  }

  .product__description{
    padding: 0 4rem;
  }
  .product__container{
    grid-template-columns: repeat(2, 170px);
    justify-content: center;
    column-gap: 5rem;
  }

  .footer__subscribe{
    width: 400px;
  }
}

@media screen and (min-width: 767px){
  body{
    margin: 0;
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 3rem;
  }
  .nav__toggle,
  .nav__close{
    display: none;
  }
  .nav__list{
    flex-direction: row;
    column-gap: 3rem;
  }
  .nav__menu{
    margin-left: auto;
  }

  .home__container,

  .questions__container,
  .contact__container,
  .footer__container{
    grid-template-columns: repeat(2, 1fr);
  }
  .about__container{
    grid-template-columns: 1.5fr 1fr;
  }
  .home{
    padding: 7rem 0 5rem;
  }
  .home__container{
    align-items: center;
  }
  .home__img{
    width: 280px;
    order: 1;
  }
  .home__social{
    top: 30%;
  }

  .questions__container{
    align-items: flex-start;
  }

  .footer__container{
    column-gap: 3rem;
  }
  .footer__subscribe{
    width: initial;
  }
}

/* For large devices */
@media screen and (min-width: 992px){
  .container{
    margin-left: auto;
    margin-right: auto;
  }
  .containerc{
    margin-left: auto;
    margin-right: auto;
  }
  .section {
    padding: 5rem 0 5rem;
}
.sectionc {
  padding: 4rem 0 2rem;
}
.sectionf {
  padding: 5rem 0 0rem;
}
  .section__title,
  .section__title-center{
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 40px;
    line-height: normal;
  }

  .home{
    padding: 7rem 0 5rem;
  }
  .home__img{
    width: 500px;
  }
  .home__description{
    color: #000;
    margin-top: 30px;
font-family: Outfit;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 23px; /* 143.75% */
  }
.home__data{
  border-radius: 70px;
  background: #F8F7F2;
  padding: 3rem;
}
  .about__img{
    width: 380px;
  }

  .steps__container{
    grid-template-columns: repeat(3, 1fr);
  }
  .steps__bg{
    padding: 3.5rem 2.5rem;
  }
  .steps__card-title{
    font-size: var(--normal-font-size);
  }

  .product__description{
    padding: 0 16rem;
  }
  .product__container{
    padding: 4rem 0;
    grid-template-columns: repeat(3, 185px);
    gap: 4rem 6rem;
  }
  .product__img{
    width: 160px;
  }
  .product__circle{
    width: 110px;
    height: 110px;
  }
  .product__title,
  .product__price{
    font-size: var(--normal-font-size);
  }

  .questions__container{
    padding: 1rem 0 4rem;
  }
  .questions__title{
    text-align: initial;
  }
  .questions__group{
    row-gap: 2rem;
  }
  .questions__header{
    padding: 1rem;
  }
  .questions__description{
    padding: 0 3.5rem 2.25rem 2.75rem;
  }

  .footer__logo{
    font-size: var(--h3-font-size);
  }
  .footer__container{
    grid-template-columns: 1fr .5fr .5fr .5fr;
  }
  .footer__copy{
    margin: 7rem 0 2rem;
  }
}

@media screen and (min-width: 1200px){
  .home__social{
    right: -3rem;
    row-gap: 4.5rem;
  }
  .home__social-follow{
    font-size: var(--small-font-size);
  }
  .home__social-follow::after{
    width: 1.5rem;
    right: -60%;
  }
  .home__social-link{
    font-size: 1.15rem;
  }

  .about__container{
    column-gap: 2rem;
  }

  .scrollup{
    right: 3rem;
  }
}